################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/team7/FileContentIndex
/.vs/BookingPlatform/FileContentIndex
